  <div>
    <%= form_for([@user, @secret], :html => {class: "form-horizontal", role: "form"}) do |f| %>
      <div class="form-group">
          <%= f.label :Title %>
          <br>
          <%= f.text_field :title, autofocus: true %>
      </div>
      <div class="form-group">
          <%= f.label :Description %>
          <br>
          <%= f.text_area :description, rows: 10, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= link_to '<button>Cancel</button>'.html_safe, user_path(@user), class: "btn btn-danger btn-lg"%>
          <p></p>
            <%= f.submit "Save edits"%>
      </div>
    <% end %>
  </div>
