<h1><%=@secret.title %></h1>
<p><%= @secret.description%></p>
<p><%= @secret.created_at%></p>
<p></p>

<div>
  <%= link_to "<button>Edit Secret</button>".html_safe, edit_user_secret_path(current_user,@secret)%>
</div>
<div>
<%= link_to "<button>Delete Secret</button>".html_safe, user_secret_path(current_user, @secret), method: :delete, data: {confirm: "Are your sure you want to delete t    his secret?"}%>
</div>
<div>
  <%= link_to "<button>Back to My Secrets</button>".html_safe, user_path(@secret.user_id)%>
</div>
