<h1><%=@secret.title %></h1>
<p><%= @secret.description%></p>
<p><%= @secret.created_at%></p>
<p></p>

<div>
  <%= link_to "Edit Secret", edit_user_secret_path(current_user, @secret.user_id)%>
</div>
<div>
  <%= link_to "Back to My Secrets", user_path(@secret.user_id)%>
</div>
